css
body{
font-family: Arial;
margin:0;
background:#f4f6f8;
}

header{
background:#2c7be5;
color:white;
padding:20px;
text-align:center;
}

nav{
background:#1b5bbf;
padding:10px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
font-weight:bold;
}

nav a:hover{
text-decoration:underline;
}

h2{
color:#2c7be5;
}

footer{
background:#333;
color:white;
text-align:center;
padding:15px;
margin-top:30px;
}

h2{
text-align:center;
margin-top:20px;
}

button{
background:#2c7be5;
color:white;
border:none;
padding:8px 12px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#1b5bbf;
}

button{
background:#2c7be5;
color:white;
border:none;
padding:8px 12px;
border-radius:5px;
cursor:pointer;
}

button:hover{
background:#1b5bbf;
}




